In [32]:
import openai

In [33]:
from dotenv import dotenv_values

In [34]:
config = dotenv_values('.env')

In [35]:
openai.api_key=config['OPENAI_API_KEY']

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('sales_data_sample.csv', encoding='cp437')

In [8]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [9]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [10]:
import sqlalchemy

In [13]:
temporary_db = create_engine('sqlite:///:memory:',echo=True)

In [16]:
data = df.to_sql('Sales',con=temporary_db)

2023-07-19 10:59:14,259 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-07-19 10:59:14,260 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-19 10:59:14,261 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-07-19 10:59:14,262 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-19 10:59:14,270 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-19 10:59:14,275 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2023-07-19 10:59:14,279 INFO sqlalchemy.engine.Engine [no key 0.00386s] ()
2023-07-19 10:59:14,282 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-07-19 10:59:14,284 INFO sqlalchemy.engine.Engine [no key 0.00168s] ()
2023-07-19 10:59:14,286 INFO sqlalchemy.engine.Engine COMMIT
2023-07-19 10:59:14,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-19 10:59:14,539 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-07-19 10:59:14,541 INFO sqlalchemy.engine.Engine [generated in 0.22674s] ((0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium'))
2023-07-19 10:59:14,569 INFO sqlalchemy.engine.Engine COMMIT
2023-07-19 10:59:14,571 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-07-19 10:59:14,574 INFO sqlalchemy.engine.Engine [raw sql] ()

In [17]:
with temporary_db.connect() as conn:
    result=conn.execute(text('SELECT * from Sales'))

2023-07-19 10:59:31,115 INFO sqlalchemy.engine.Engine SELECT * from Sales
2023-07-19 10:59:31,116 INFO sqlalchemy.engine.Engine [cached since 194.1s ago] ()

In [21]:
def create_definition(db):
    prompt="""
    #Sales({})
    """.format(','.join(str(col)for col in result.keys()))
    return prompt

In [22]:
create_definition(temporary_db)

'\n    #Sales(index,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n    '

In [36]:
def prompt_input():
    nlp_text = input('What do you want to do?: ')
    return nlp_text

In [37]:
def combine(df,prompt_input):
    definition = create_definition(df)
    query=f'Query to answer: {prompt_input()}'
    return definition+query

In [38]:
response=openai.Completion.create(
model='text-davinci-003',
prompt=combine(df,prompt_input),
temperature=0,
max_tokens=150,
frequency_penalty=0,
presence_penalty=0,
stop=['#',';'],
n=1)

What do you want to do?: sum of sales per state

In [39]:
response

<OpenAIObject text_completion id=cmpl-7dxNfWqmN1zAm5Zdwcmw1Z3cl49hk at 0x2a6dbb0be00> JSON: {
  "id": "cmpl-7dxNfWqmN1zAm5Zdwcmw1Z3cl49hk",
  "object": "text_completion",
  "created": 1689757407,
  "model": "text-davinci-003",
  "choices": [
    {
      "text": "\n    SELECT STATE, SUM(SALES)\n    FROM Sales\n    GROUP BY STATE",
      "index": 0,
      "logprobs": null,
      "finish_reason": "stop"
    }
  ],
  "usage": {
    "prompt_tokens": 138,
    "completion_tokens": 20,
    "total_tokens": 158
  }
}

In [48]:
def return_sql_query(response):
    query=response['choices'][0]['text']
    if query.startswith(' '):
        query='SELECT'+query
    return query

In [49]:
return_sql_query(response)

'\n    SELECT STATE, SUM(SALES)\n    FROM Sales\n    GROUP BY STATE'

In [50]:
with temporary_db.connect() as conn:
    result = conn.execute(text(return_sql_query(response)))

2023-07-19 11:04:22,941 INFO sqlalchemy.engine.Engine
    SELECT STATE, SUM(SALES)
    FROM Sales
    GROUP BY STATE
2023-07-19 11:04:22,942 INFO sqlalchemy.engine.Engine [cached since 18.52s ago] ()

In [51]:
result.all()

[(None, 5283535.709999999),
 ('BC', 149873.77000000002),
 ('CA', 1505542.229999999),
 ('CT', 238661.28000000006),
 ('Isle of Wight', 78240.83999999998),
 ('MA', 666443.7199999996),
 ('NH', 131685.30000000002),
 ('NJ', 83228.19),
 ('NSW', 305567.1099999999),
 ('NV', 82751.08000000002),
 ('NY', 646343.7599999998),
 ('Osaka', 67605.07),
 ('PA', 273327.26999999996),
 ('Quebec', 74204.79),
 ('Queensland', 59469.11999999999),
 ('Tokyo', 120562.73999999996),
 ('Victoria', 265586.86999999994)]